@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url(layout.css);

:root{
    --blue:#2730ae;
    --black:black;
    --white: white;
    --light-color:black;
    --bg-color:#e6e6e6;
    --border:.1rem solid rgba(0,0,0,.2);
    --box-shadow:.4rem .4rem 1rem #ccc,
                -.4rem -.4rem 1rem #fff;
    --box-shadow-inset:.4rem .4rem 1rem #ccc inset,
                      -.4rem -.4rem 1rem #fff inset;
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'iconfont';
    /* Project id 2526200 */
    src: url('http://at.alicdn.com/t/font_2526200_dra74wlaxnj.woff2?t=1621069802615') format('woff2'), url('http://at.alicdn.com/t/font_2526200_dra74wlaxnj.woff?t=1621069802615') format('woff'), url('http://at.alicdn.com/t/font_2526200_dra74wlaxnj.ttf?t=1621069802615') format('truetype');
}

/* body{
    
    
} */

body.active{
    --black:#fff;
    --light-color:#ddd;
    --bg-color:#222;
    --border:.1rem solid rgba(0,0,0,.4);
    --box-shadow:.4rem .4rem 1rem #111,
                -.4rem -.4rem 1rem #333;
    --box-shadow-inset:.4rem .4rem 1rem red inset,
                      -.4rem -.4rem 1rem red inset;
}

section{
    min-height: 100vh;
    padding:2rem;
}

.btn{
    margin-top: 2rem;
    display: inline-block;
    padding:1rem 3.5rem;
    border-radius: .5rem;
    font-size: 1.7rem;
    cursor: pointer;
    background: var(--blue);
    color:var(--white);
    box-shadow: var(--box-shadow);
}

.btn:hover{
    box-shadow: var(--box-shadow-inset);
    background: red;
}

.button-section {
    text-align: center;
    margin-top: 2rem;
}

.heading{
    text-align: center;
    font-size: 5rem;
    color:var(--black);
    text-transform: uppercase;
    margin-top: 1rem;
    padding-bottom: 0.5rem;
}

.small{
    text-align: left;
    font-size: 2.5rem;
    color:#2730ae;
    padding-top: 4rem;
    padding-bottom: 0.5rem;
}

.little{
    text-align: left;
    font-size: 2.5rem;
    color:#2730ae;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
}

.less{
    text-align: left;
    font-size: 2.5rem;
    color:#2730ae;
    text-transform: uppercase;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.heading span{
    color:var(--blue);
    text-transform: uppercase;
}

.heading line{
    color:var(--white);
    text-transform: uppercase;
}

.header{
    padding: 2rem 9%;
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 .5rem 1.5rem black;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

.header .navbar{
    padding-top: 1rem;
}

.header .navbar a{
    font-size: 1.7rem;
    color: white;
    margin-left: 2rem;
}

.header .navbar a:hover{
    color: var(--blue);
}

.user img{
    margin:1rem 0;
    border:1rem solid transparent;
    border-radius: 50%;
    height: 26rem;
    width: 25rem;
    box-shadow: var(--box-shadow);
}

.user h3{
    color:var(--black);
    font-size: 2.5rem;
}

.user p{
    color:var(--blue);
    font-size: 1.5rem;
}

/*Home page*/
.home{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url("C:/Users/HP/Desktop/Home Website/image/background.jpg");
    background-size: 100% 100%;
}

/*Activtie/Soccer Page*/
.soccer a {
    text-decoration: none;
    display: block;
}

.soccer li {
    list-style-type: none;
}

.soccer .wrap .btn {
    width: 40px;
    height: 60px;
    position: absolute;
    top: 50%;
    color: #fff;
    font-weight: 800;
    background-color: rgba(0, 0, 0, .1);
    transform: translate(0, -50%);
    font-family: 'iconfont';
    font-size: 20px;
    border: none;
    z-index: 1;
    text-align: center;
    cursor: pointer;
}

.soccer .wrap #Prev {
    left: -5px;
    border-radius: 0 100% 100% 0;
}

.soccer .wrap #Next {
    right: -5px;
    border-radius: 100% 0 0 100%;
}

.soccer .bn{
    margin-top: 2rem;
    display: inline-block;
    padding:1rem 3.5rem;
    border-radius: .5rem;
    font-size: 1.7rem;
    cursor: pointer;
    background: var(--blue);
    color:var(--white);
    box-shadow: var(--box-shadow);
}

.soccer .bn:hover{
    box-shadow: var(--box-shadow-inset);
    background: red;
}

.soccer .button-line {
    text-align: center;
    margin-top: 2rem;
}

/*Contact Page*/
.contact{
    display: flex;
    flex-flow: column;
    background: #151515;
}

.contact h3{
    font-size: 3rem;
    text-align: center;
    color:red;
    line-height: 1.8;
    padding-top: 1rem;
}

.contact p{
    font-size: 1.5rem;
    text-align: center;
    color:red;
    line-height: 1.8;
    padding-top: 1rem;
}

/*Button navbar*/
.bottom{
    font-size: 2rem;
    text-align: center;
    padding:2.5rem 1rem;
    background: #151515;
    border-top: var(--border);
    color:var(--black);
}

.bottom p{
    color: white;
}

/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    body{
        padding-left: 0;
    }

    .header{
        left:-110%;
    }

    .header.active{
        left:0%;
        transition: .4s linear;
    }

    #menu-btn{
        display: initial;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .header{
        width:100%;
        border-right: 0;
    }

}